.textarea_block, .edit-btn, .add-btn, button[id=answer_0]{
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.list-group {
    margin-bottom: 1px;
}

li.list-group-item {
    padding-bottom: 4px;
}
